.breadcrumb {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-top: 17px; }
  .breadcrumb li:not(:last-child):after {
    padding: 0 5px 0 5px;
    content: "/"; }

.feedback__wrapp {
  float: left;
  width: 60%; }

.feedback__title {
  font-family: Roboto;
  font-size: 33px;
  line-height: 23px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #333333;
  margin-top: 38px; }

.feedback__subtitle {
  font-family: Roboto;
  font-size: 24px;
  line-height: 48px;
  font-weight: 500;
  color: #333333;
  margin: 0;
  margin-top: 66px; }
